# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Authenticate.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\projects\Authenticate\.idea\.idea.Authenticate\.idea/dataSources/
/dataSources.local.xml
